<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://glitch.com/edit/favicon-app.ico" rel="shortcut icon">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="/style.css" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <title>Pinterest Clone App | by Matt Milburn</title>
  </head>
  <body>
  <header class="page-header jumbotron">
  <h1 class="page-title">All Pins</h1>
  <div class="container relative">
    <h2>Pinterest Clone <small>Application</small></h2>
    <p class="lead">by Matt Milburn</p>
    <nav class="page-nav">
      <ul class="list-inline">
        <li><a href="/" class="btn btn-link">All Pins</a></li>
        <% if(user) { %>
          <li><a href="/pins/<%=user._id %>" class="btn btn-link">My Pins</a></li>
          <li>
            <a href="#" class="btn btn-success" data-toggle="modal" data-target="#post-pin-modal">
              Post New Pin
              <span class="fa fa-thumb-tack"></span>
            </a>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" id="user-dropdown" data-toggle="dropdown">
              <img src="<%=user.twitter.thumbnail %>" class="profile-icon" alt="Profile image for <%=user.twitter.username %>">
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="/logout" class="btn btn-link">Logout</a></li>
            </ul>
            
          </li>
        <% }  else { %>
          <li>
            <a href="/auth/twitter" class="btn btn-info">
              Login with Twitter
              <span class="fa fa-twitter"></span>
            </a>
          </li>
        <% } %>
      </ul>
    </nav>
  </div>
</header>
  <% if(pins) { %>
  <div class="grid">
    <div class="grid-sizer"></div>
    <% pins.forEach(function(pin) { %>
      <div class="grid-item">
        <div class="panel panel-default">
          <div class="panel-body">
            <img src="<%=pin.url %>" alt="<%=pin.caption %>" class="img-responsive">
            <p><%=pin.caption %> </p>
          </div>
          <div class="panel-footer clearfix">
            <a href="/pins/<%=pin._user._id %>" class="pull-left">
              <img src="<%=pin._user.twitter.thumbnail %>" alt="Pinned by <%=pin._user.twitter.username %>" class="profile-icon img-responsive">
              <small>Pinned by<br> <%=pin._user.twitter.username %></small>
            </a>
            <% if(pin.iLike) { %>
              <button type="button" class="hate btn btn-danger btn-sm pull-right" data-pinid="<%=pin._id %>" data-userid="<%=user._id %>">
                <span class="like-count"><%=pin.likes.length %></span> &nbsp;<span class="fa fa-heart"></span>
                <span class="sr-only">Unlike this pin</span>
              </button>
            <% } else { %>
            <% if (user) { %>
              <button type="button" class="hate btn btn-default btn-sm pull-right" data-pinid="<%=pin._id %>" data-userid="<%=user._id %>">
                <span class="like-count"><%=pin.likes.length %></span> &nbsp;<span class="fa fa-heart-o"></span>
                <span class="sr-only">Like this pin</span>
              </button>
            <% } else { %>
              <div class="btn btn-default btn-sm pull-right" data-pinid="<%=pin._id %>">
                <span class="like-count"><%=pin.likes.length %></span> &nbsp;<span class="fa fa-heart-o"></span>
              </div>
            <% } %>
            <% } %>
          </div>
          </div>
          </div>
         <%   }) %> 
    </div>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/4.2.0/masonry.pkgd.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/4.1.3/imagesloaded.pkgd.min.js"></script>
  <script src="/layout.js"></script>
  <script src="/like.js"></script>  
       <%  }  else { %>
  <p class="text-center"><em>No one has posted any pins yet.</em></p>
<% } %>
  </body>           
</html>